* {
    font-family: "Arial";
    margin: 0;
    padding: 0;
}
body {
    min-height: 240vh;
}

nav {
    z-index: 100;
    border-color: #2c3033;
    border-style: solid;
    border-width: 2px;
    position: fixed;
    width: 100%;
    background-color: #212426;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav a, .bar_button {
    transition: background-color 0.25s;
    padding: 0px 20px;
    height: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover, .bar_button:hover {
    background-color: #2c3033;
}

nav li, .bar_button {
    height: 50px;
}

nav li:first-child {
    margin-right: auto;
}

.nav_icon {
    height: 50px;
}

.sidebar {
    opacity: 0;
    transition: all 0.5s;
    border-color: #2c3033;
    border-style: solid;
    border-width: 2px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #212426;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 200;

}

.sidebar li{
    width: 100%;
}


.anim_bg {
    position: fixed;
    z-index: 10;
}

.anim_container {
    height: 110vh;
    display: grid;
    place-items: center;
}
.first_title {
    color: white;
    z-index: 20;
    position: absolute;
    font-size: 8em;
    top: 25px;
}
.second_title {
    color: white;
    z-index: 20;
    position: absolute;
    font-size: 5em;
    bottom: 0%;
    right: 0%;
}
.title {
    font-family: "Anton";
    font-style: normal;
    font-weight: 400;
}
